.container {
    background-color: #1B1D1F;
    display: grid;   
    grid-template-columns: 550px;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    position: relative;
    top: -100px;
    justify-content: center;
    background-image: url('/resources/vector.svg');
    background-repeat: no-repeat;
    background-position:top;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 641px) {
    .c0{
        width: 900px;
        grid-template-columns: repeat(3, 300px);
    }
}